:root {
    --base: white;
    --spacing: 10px;
    --blur: 10px
}

body{
    text-align: center;
    background: teal;
    font-weight: 100;
    font-size: 20px
}

.controls{
    margin-bottom: 20px;
}

img{
    width: 350px;
    height: 550px;

    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1{
    color: var(--base);
}